{% extends "base.html" %}
{% block title %}Two-particle interference{% endblock %}
{% block navbar %}
<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="caseA">Free Wavepacket 1D</a></li>
        <li><a href="caseB">Free Wavepacket 2D</a></li>
        <li><a href="caseC">Finite Potential Barrier</a></li>
        <li><a href="caseD">Single-slit Diffraction</a></li>
        <li><a class = "active" href="caseE">Two-Particle Interference</a></li>
    </ul>
</nav>
{% endblock %}
{% block bodycontent %}
<div class = "bodycontent">
    <h1>Two-particle interference</h1>
    <p>This is a situation in which two Gaussian wavepackets collide, resulting in interference between them.</p>
</div>
{% endblock %}

{% block form %}
<div class="form">

    <h3>Enter values here:</h3>
    <form action = "#" method = "post">
        <div class = "settings">
            <h4>Settings</h4>
            <p>Select integration method:</p>
            <p class = "answer"><input type="radio" name = "METHOD" value="ftcs" />FTCS</p>
            <p class = "answer"><input type="radio" name = "METHOD" value="rk4" />RK4</p>
            <p class = "answer"><input type="radio" name = "METHOD" value="rkf" />RKF</p>
            <p class = "answer"><input type="radio" name = "METHOD" value="all" />All above methods</p>

            <p>Would you like to view a static, semi-static, or non-static visualisation of the propagation?</p>
            <p class = "answer"><input type="radio" name = "STATIC" value="1.0" />Static visualisation</p>
            <p class = "answer"><input type="radio" name = "STATIC" value="0.5" />Semi-static visualisation</p>
            <p class = "answer"><input type="radio" name = "STATIC" value="0.0" />Non-static visualisation</p>

            <p>Select additional integration method:</p>
            <p class = "answer"><input type="radio" name = "ADD_MET" value="no" />No additional method</p>
            <p class = "answer"><input type="radio" name = "ADD_MET" value="ftcs" />FTCS</p>
            <p class = "answer"><input type="radio" name = "ADD_MET" value="rk4" />RK4</p>
            <p class = "answer"><input type="radio" name = "ADD_MET" value="rkf" />RKF</p>


            <p>Value of desired end time: </p>
            <p><input type="text" name = "t_end" value = "4" /></p>
        </div>

        <div class = "sys_pars">
            <h4>System parameters</h4>
            <p>Value of a: </p>
            <p><input type="text" name = "a" value = "1" /></p>
            <p>Value of b: </p>
            <p><input type="text" name = "b" value = "1" /></p>
            <p>Value of alpha: </p>
            <p><input type="text" name = "alpha" value = "0.5" /></p>
            <p>Value of k0 for first Gaussian: </p>
            <p><input type="text" name = "k0" value = "1" /></p>
            <p>Value of k0 for second Gaussian: </p>
            <p><input type="text" name = "ky0" value = "-1" /></p>
            <p>Value of x0 for first Gaussian: </p>
            <p><input type="text" name = "x0" value = "-5" /></p>
            <p>Value of x0 for second Gaussian: </p>
            <p><input type="text" name = "y0" value = "5" /></p>
        </div>

        <div class = "num_pars">
            <h4>Numerical parameters</h4>
            <p>Min x-value: </p>
            <p class = "question"><input type="text" name = "x_min" value = "-30" /></p>
            <p>Max x-value: </p>
            <p class = "question"><input type="text" name = "x_max" value = "30" /></p>
            <p>Value of dx: </p>
            <p class = "question"><input type="text" name = "dx" value = "0.1" /></p>
            <p>Value of dt: </p>
            <p class = "question"><input type="text" name = "dt" value = "0.0001" /></p>
        </div>


        <p><input type="submit" value="Generate simulation" /></p>
        
    </form>
</div>
{% endblock %}