{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
<nav class="navbar">
    <ul>
        <li><a class = "active" href="/">Home</a></li>
        <li><a href="caseA.html">Free Wavepacket 1D</a></li>
        <li><a href="caseB.html">Free Wavepacket 2D</a></li>
    </ul>
</nav>
{% endblock %}
{% block bodycontent %}
<div class = "bodycontent">
    <h1>Home page</h1>
    <h3>What does this tool do?</h3>
    <p>This tool calculates the solutions to the Schrodinger equation by using numerical and analytical techniques, for different scenarios.</p>
</div>
{% endblock %}