body {
    background-color: #fffffe;
    font-family: proxima-nova, sans-serif;
    margin: 0px;
}

.bodycontent {
    padding-top: 60px;
}

.bodycontent h1 {
    text-align: center;
    color: #094067;
    font-weight: 900;
}

.bodycontent h3 {
    color: #094067;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
}

.bodycontent p {
    color: #5f6c7b;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.form h3 {
    color: #094067;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
}

.form h4 {
    color: #3e4444;
    font-weight: 800;
    padding: 10px;
    margin: 10px;
}

.form p {
    color: #5f6c7b;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.form .answer {
    font-weight: normal;
    font-family: verdana;
    font-style: italic;
    font-size: 18px;
    padding: 1px;
    margin: 10px;
}


.form input[type = text]{
    width: 100%;
    padding: 10px 12px;
    margin: 1px 0;
    box-sizing: border-box;
}

.form {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.form .settings {
    width: 50%;
    float:left; /* add this */
}
.form .sys_pars {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.form .num_pars {
    width: 100%;
    float: left;
    border-top: 2px solid #90b4ce;
}



.form input[type=submit] {
    background-color: #90b4ce;
    border: 1px #094067;
    color: #fffffe;
    padding: 16px 32px;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%
}

.form input[type=submit]:hover{
    background-color:#fffffe;
    color: #90b4ce;
    border: 1px #90b4ce;
}


.navbar {
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: #f2f7f5;
}
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid #90b4ce;
}

.navbar li {
    float:left;
    border-right: 1px solid #bbb;
}

.navbar li:last-child {
    border-right: none;
}

.navbar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: #094067;
}

.navbar a:hover {
    background-color: #3da9fc;
    color: #fffffe;
}

.navbar .active {
    background-color: #90b4ce;
    color: #fffffe;
}